<section class="begin d-flex" id="begin">
  <div class="row d-flex col-lg-12">
    <div
      class="col-lg-7 d-flex flex-column justify-content-center align-items-start"
    >
      <h1 class="gradient-color"><span>Jacopo Giancaspro</span></h1>
      <h5>{{ "begin.title" | translate }}</h5>
      <button class="btn btn-click btn-lg-12">
        {{ "begin.whoIam" | translate }}
      </button>
    </div>
    <div
      class="col-lg-5 d-flex flex-column justify-content-center align-items-start"
    >
      <img
        class="img-profile"
        src="../assets/main/profile.png"
        alt="profile-image"
      />
    </div>
  </div>
</section>
<section class="about d-flex" id="about">
  <div class="row d-flex col-lg-12">
    <div
      class="col-lg-12 d-flex flex-column justify-content-center align-items-start"
    >
      <p class="introduce">Introduce</p>
      <h1 class="gradient-color">{{ "about.aboutMe" | translate }}</h1>
      <p>
        <code>{{ "about.textHighlight" | translate }}</code> <br />
        {{ "about.text" | translate }}
      </p>
      <button class="btn btn-click btn-lg-12">
        {{ "about.download" | translate }}
      </button>
      <div class="semiotical-logo"></div>
    </div>
  </div>
</section>
<section class="services d-flex" id="services">
  <div class="row d-flex col-lg-12">
    <div
      class="col-lg-12 d-flex flex-column justify-content-start align-items-center flex-wrap"
    >
      <h1 class="gradient-color mt-8">{{ "services.title" | translate }}</h1>
      <div
        class="services-items col-lg-12 flex-wrap d-flex justify-content-evenly"
      >
        <div class="card col-lg-5" *ngFor="let item of servicesList">
          <div
            class="card-body d-flex flex-column justify-content-evenly align-items-center"
          >
            <img [src]="item.src" width="100" height="100 " />
            <h3 class="card-title">{{ item.title }}</h3>
            <p class="card-text">
              {{ item.subtitle }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="references" id="references">
  <div class="row col-lg-12 d-flex">
    <div class="col-lg-12 d-flex flex-column">
      <h1 class="gradient-color text-center">
        {{ "references.title" | translate }}
      </h1>
      <div
        id="carouselExampleDark"
        class="carousel carousel-dark slide"
        data-bs-theme="dark"
      >
        <div class="carousel-indicators">
          <button
            *ngFor="let item of referencesList"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="0"
            [ngClass]="lastIndex == item.index ? 'active' : ''"
            aria-current="true"
            aria-label="Slide 1"
            [attr.disable]="true"
          ></button>
        </div>
        <div class="carousel-inner">
          <div
            class="carousel-item active d-flex align-content-center justify-content-center w-100 h-100 flex-column"
            [id]="'carousel-' + item.index"
            data-bs-interval="10000"
            *ngFor="let item of referencesList"
            [ngClass]="item.active ? '' : 'visually-hidden'"
          >
            <div class="carousel-item-inner">
              <img [src]="item.src" width="100" height="100" />
              <h5 class="mt-2">{{ item.clientName }}</h5>
              <p>{{ item.text }}</p>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="prev"
          (click)="changeReference(false)"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="next"
          (click)="changeReference(true)"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</section>
<section class="contacts" id="contacts">
  <div class="row col-lg-12">
    <div class="col-lg-12 flex-column">
      <h1 class="gradient-color text-center">
        {{ "contact.title" | translate }}
      </h1>
    </div>
  </div>
  <div class="row col-lg-12 justify-content-center align-items-center">
    <div
      class="col-lg-6 d-flex justify-content-evenly flex-wrap align-items-center"
    >
      <a href="https://www.facebook.com/jacopo.giancaspro.7/" target="_blank"
        ><img src="../assets/main/logos/facebook.svg"
      /></a>
      <a href="https://www.instagram.com/gianca_s_pro/" target="_blank"
        ><img src="../assets/main/logos/instagram.svg"
      /></a>
      <a href="https://www.linkedin.com/in/jacopo-giancaspro/" target="_blank"
        ><img src="../assets/main/logos/linkedin.svg"
      /></a>
      <a
        href="https://open.spotify.com/show/6IQHaOT60UWgYxqEbtUJ94"
        target="_blank"
        ><img src="../assets/main/logos/spotify.svg"
      /></a>
      <a href="https://twitter.com/gianca_s_pro" target="_blank"
        ><img src="../assets/main/logos/twitter.svg"
      /></a>
      <a href="https://api.whatsapp.com/send?phone=393480824374" target="_blank"
        ><img src="../assets/main/logos/whatsapp.svg"
      /></a>
      <a href="https://www.youtube.com/@semioticall/videos" target="_blank"
        ><img src="../assets/main/logos/youtube.svg"
      /></a>
      <a href="https://www.tiktok.com/@gianca_s_pro?lang=it-IT" target="_blank"
        ><img src="../assets/main/logos/tiktok.svg"
      /></a>
    </div>
  </div>
  <div class="row justify-content-center align-items-center mt-5">
    <div class="col-lg-6">
      <div class="form-group">
        <input
          type="text"
          placeholder="{{ 'contact.messageToSend.name' | translate }}"
          class="form-control"
          #name
        />
      </div>
      <div class="form-group mt-3">
        <textarea
          placeholder="{{ 'contact.messageToSend.message' | translate }}"
          class="form-control mb-3"
          rows="8"
          #text
        ></textarea>
        <button class="btn btn-click btn-lg-12" (click)="sendMessageWhatsapp()">
          {{ "contact.messageToSend.send" | translate }}
        </button>
      </div>
    </div>
  </div>
</section>
