@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
    --bkg-color:  #0C0C0C;
    --main-font: #FBFBFB;
    --second-font: #3AD1C8;
    --title-linear: linear-gradient(#3AD1C8, #FFFFFF);
    --blue-buttons: #3AD1C8;
    --bkg-container:#0F0F0F;
    --border-color:#FBFBFB;
    --box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.3);
    --color-linear: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(58,209,200,1) 100%);
    transition: 0.7s;
  }

* {
    font-family: 'Bebas Neue', Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--bkg-color);
}



.container {
    background-color: var(--main-font);
}

a {
    color: var(--main-font) !important;
}

div.col {
    background-color: var(--bkg-color) !important; 
}
.gradient-color {
  background-image: var( --color-linear);
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.btn-click {
  border: 1px solid var(--blue-buttons) !important;
  color: var(--main-font);
  width: 100px !important;
  padding: 10px;
  font-size:18px;
}

.btn-click:hover {
  background-color: var(--blue-buttons);
}

.btn-click{
  margin-right: 15px;
}

.btn-click-danger {
  border-color: rgba(227, 34, 34, 0.913) !important;
}

.btn-click-danger:hover {
  background-color: rgba(227, 34, 34, 0.913) !important;
}

@media only screen and (min-height: 1000px) {
   
  .container-child {
    height: 100vh !important;
  }
}