.container {
    background-color: var(--main-font);
}

a {
    color: var(--main-font) !important;
}

div.col {
    background-color: var(--bkg-color) !important; 
}

nav {
    background-color: var(--bkg-color) !important; 
}

.navbar-collapse a, select {
    font-weight: 479;
    font-size:  2rem;
}

.navbar-collapse a:hover {
     color: var(--second-font) !important; 
}


.dropdown-menu {
    border-top: 2px solid var(--second-font);
    background-color: var(--bkg-color);
    color: var(--main-font);
}
.nav-select {
    background-color: var(--bkg-color);
    color: var(--main-font);
    border: 2px solid var(--second-font);
}

.navbar-toggler-icon {
   background-image:  var(--bs-navbar-toggler-icon-bg);
   filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}


#about {
    height: 600px;

    h1 {
            font-size: 7rem;
            background-image: var( --color-linear);
            background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
    } 
    h5 {
        font-size: 3rem;
        color: var(--main-font);
    }

    button.btn-click {
        border: 1px solid var(--blue-buttons) !important;
        color: var(--main-font);
        width: 100px !important;
    }

    button.btn-click:hover {
        background-color: var(--blue-buttons);
    }

    img.img-profile {
       width: 90%;
       height: 75%;
    }
}

