<div class="container">
  <div class="row mb-8">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="../assets/main/nav-brand.png"  alt="" width="200" height="50"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center align-items-center " id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">INICIO</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">QUEM SOU</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">SERVIÇOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">REFERÊNCIAS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">CONTATO</a>
              </li>
              <li class="nav-item dropdown nav-dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  BLOG
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">LOGIN</a></li>
                  <li><a class="dropdown-item" href="#">CONTENT</a></li>
                </ul>
              </li>
              <li class="nav-item">
                 <select name="idioms" id="idioms" class="form-select nav-select">
                  <option selected>IDIOMAS</option>
                  <option>PORTUGUESE</option>
                  <option>ENGLISH</option>
                  <option>SPANISH</option>
                  <option>ITALIAN</option>
                 </select>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <section class="begin d-flex" id="begin">
        <div class="row d-flex col-lg-12">
            <div class="col-lg-7  d-flex flex-column justify-content-center align-items-start">
              <h1 class="gradient-color"><span>Jacopo Giancaspro</span></h1>
              <h5>Professional semiologist</h5>
              <button class="btn btn-click btn-lg-12">Quem Sou</button>
            </div>
            <div class="col-lg-5 d-flex flex-column justify-content-center align-items-start">
              <img class="img-profile" src="../assets/main/profile.png" alt="profile-image" />
            </div>
        </div>
      </section>
      <section class="about d-flex" id="about">
        <div class="row d-flex col-lg-12">
            <div class="col-lg-12  d-flex flex-column justify-content-center align-items-start">
                <p class="introduce">Introduce</p>
                <h1 class="gradient-color">About me</h1>
                <p>
                  <code>Systemic-semiotic consulting for Personal 
                  Branding and Brand Activism.</code> <br> Through applied semiotics, 
                  my commitment is to make a qualitative contribution <br>
                  to the communication <br> and the emotional intelligence
                  of professionals and students.
                </p>
                <button class="btn btn-click btn-lg-12">Download CV</button>
                <div class="semiotical-logo"></div>
            </div>
        </div>
      </section>
      <section class="services d-flex" id="services">
        <div class="row d-flex col-lg-12">
            <div class="col-lg-12 d-flex flex-column justify-content-start align-items-center flex-wrap">
                <h1 class="gradient-color mt-8">Meus Serviços</h1>
                <div class="services-items col-lg-12 flex-wrap d-flex justify-content-evenly">
                  <div class="card col-lg-5">
                    <div class="card-body d-flex flex-column justify-content-evenly align-items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50" fill="white">
                        <path d="M 5 5 C 2.25 5 0 7.25 0 10 L 0 39 C 0 41.75 2.25 44 5 44 L 21 44 C 22.664063 44 24 45.351563 24 47 C 24 47.308594 24.144531 47.601563 24.386719 47.789063 C 24.632813 47.980469 24.949219 48.046875 25.25 47.96875 C 25.511719 47.902344 25.738281 47.734375 25.875 47.5 C 25.960938 47.347656 26.003906 47.175781 26 47 C 26 45.351563 27.335938 44 29 44 L 45 44 C 47.75 44 50 41.75 50 39 L 50 10 C 50 7.25 47.75 5 45 5 L 29 5 C 27.367188 5 25.914063 5.8125 25 7.03125 C 24.085938 5.8125 22.632813 5 21 5 Z M 5 7 L 21 7 C 22.667969 7 24 8.332031 24 10 L 24 43.125 C 23.152344 42.464844 22.148438 42 21 42 L 5 42 C 3.332031 42 2 40.667969 2 39 L 2 10 C 2 8.332031 3.332031 7 5 7 Z M 29 7 L 45 7 C 46.667969 7 48 8.332031 48 10 L 48 39 C 48 40.667969 46.667969 42 45 42 L 29 42 C 27.851563 42 26.847656 42.464844 26 43.125 L 26 10 C 26 8.332031 27.332031 7 29 7 Z"></path>
                        </svg>
                      <h3 class="card-title">Special title treatment</h3>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                  <div class="card col-lg-5">
                    <div class="card-body d-flex flex-column justify-content-evenly align-items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50" fill="white">
                        <path d="M 5 5 C 2.25 5 0 7.25 0 10 L 0 39 C 0 41.75 2.25 44 5 44 L 21 44 C 22.664063 44 24 45.351563 24 47 C 24 47.308594 24.144531 47.601563 24.386719 47.789063 C 24.632813 47.980469 24.949219 48.046875 25.25 47.96875 C 25.511719 47.902344 25.738281 47.734375 25.875 47.5 C 25.960938 47.347656 26.003906 47.175781 26 47 C 26 45.351563 27.335938 44 29 44 L 45 44 C 47.75 44 50 41.75 50 39 L 50 10 C 50 7.25 47.75 5 45 5 L 29 5 C 27.367188 5 25.914063 5.8125 25 7.03125 C 24.085938 5.8125 22.632813 5 21 5 Z M 5 7 L 21 7 C 22.667969 7 24 8.332031 24 10 L 24 43.125 C 23.152344 42.464844 22.148438 42 21 42 L 5 42 C 3.332031 42 2 40.667969 2 39 L 2 10 C 2 8.332031 3.332031 7 5 7 Z M 29 7 L 45 7 C 46.667969 7 48 8.332031 48 10 L 48 39 C 48 40.667969 46.667969 42 45 42 L 29 42 C 27.851563 42 26.847656 42.464844 26 43.125 L 26 10 C 26 8.332031 27.332031 7 29 7 Z"></path>
                        </svg>
                      <h3 class="card-title">Special title treatment</h3>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                  <div class="card col-lg-5">
                    <div class="card-body d-flex flex-column justify-content-evenly align-items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50" fill="white">
                        <path d="M 5 5 C 2.25 5 0 7.25 0 10 L 0 39 C 0 41.75 2.25 44 5 44 L 21 44 C 22.664063 44 24 45.351563 24 47 C 24 47.308594 24.144531 47.601563 24.386719 47.789063 C 24.632813 47.980469 24.949219 48.046875 25.25 47.96875 C 25.511719 47.902344 25.738281 47.734375 25.875 47.5 C 25.960938 47.347656 26.003906 47.175781 26 47 C 26 45.351563 27.335938 44 29 44 L 45 44 C 47.75 44 50 41.75 50 39 L 50 10 C 50 7.25 47.75 5 45 5 L 29 5 C 27.367188 5 25.914063 5.8125 25 7.03125 C 24.085938 5.8125 22.632813 5 21 5 Z M 5 7 L 21 7 C 22.667969 7 24 8.332031 24 10 L 24 43.125 C 23.152344 42.464844 22.148438 42 21 42 L 5 42 C 3.332031 42 2 40.667969 2 39 L 2 10 C 2 8.332031 3.332031 7 5 7 Z M 29 7 L 45 7 C 46.667969 7 48 8.332031 48 10 L 48 39 C 48 40.667969 46.667969 42 45 42 L 29 42 C 27.851563 42 26.847656 42.464844 26 43.125 L 26 10 C 26 8.332031 27.332031 7 29 7 Z"></path>
                        </svg>
                      <h3 class="card-title">Special title treatment</h3>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                  <div class="card col-lg-5">
                    <div class="card-body d-flex flex-column justify-content-evenly align-items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50" fill="white">
                        <path d="M 5 5 C 2.25 5 0 7.25 0 10 L 0 39 C 0 41.75 2.25 44 5 44 L 21 44 C 22.664063 44 24 45.351563 24 47 C 24 47.308594 24.144531 47.601563 24.386719 47.789063 C 24.632813 47.980469 24.949219 48.046875 25.25 47.96875 C 25.511719 47.902344 25.738281 47.734375 25.875 47.5 C 25.960938 47.347656 26.003906 47.175781 26 47 C 26 45.351563 27.335938 44 29 44 L 45 44 C 47.75 44 50 41.75 50 39 L 50 10 C 50 7.25 47.75 5 45 5 L 29 5 C 27.367188 5 25.914063 5.8125 25 7.03125 C 24.085938 5.8125 22.632813 5 21 5 Z M 5 7 L 21 7 C 22.667969 7 24 8.332031 24 10 L 24 43.125 C 23.152344 42.464844 22.148438 42 21 42 L 5 42 C 3.332031 42 2 40.667969 2 39 L 2 10 C 2 8.332031 3.332031 7 5 7 Z M 29 7 L 45 7 C 46.667969 7 48 8.332031 48 10 L 48 39 C 48 40.667969 46.667969 42 45 42 L 29 42 C 27.851563 42 26.847656 42.464844 26 43.125 L 26 10 C 26 8.332031 27.332031 7 29 7 Z"></path>
                        </svg>
                      <h3 class="card-title">Special title treatment</h3>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </section>
      <section class="references d-flex" id="references">
        <div class="row col-lg-12 d-flex ">
            <div class="col-lg-12 d-flex flex-column">
                <h1 class="gradient-color text-center">Referências</h1>
                <div class="portfolio-container">
                  <div class="portfolio-items-arrow left" (click)="slidePortfolio('left')">
                      <div>
                      <i class="arrow left"></i>
                  </div>
                  </div>
                  <div class="portfolio-items" *ngFor="let portfolio of portfolios" [id]="portfolio.id" [ngClass]="{'hide-portfolio': portfolio.show == false}">
                      <div class="portfolio-item image">
                          <img  [src]="portfolio.src"/>
                      </div>
                      <div class="portfolio-item info" >
                          <div class="portfolio-title">
                              <h1>{{portfolio.title}}</h1>
                          </div>
                          <div class="portfolio-subtitle">
                              <p>{{portfolio.subtitle}}</p>
                          </div>
                          <div class="portfolio-more-information">
                          </div>
                      </div>
                  </div>
                  <div class="portfolio-items-arrow right" (click)="slidePortfolio('right')">
                      <div>
                      <i class="arrow right"></i>
                    </div>
                  </div>
              </div>
              <div class="selected-portfolio-items" >
                <ul class="selected-portfolio" >
                    <li *ngFor="let portfolio of portfolios" (click)="dotSelectedPortfolio(portfolio.id)"
                     [ngStyle]="{'background-color': portfolio.show ? 'var(--blue-buttons)': ''}"></li>
                </ul>
             </div> 
            </div>
        </div>
      </section>
      <section class="contacts" id="contacts">
        <div class="row col-lg-12">
            <div class="col-lg-12 flex-column">
                <h1 class="gradient-color text-center">Contato</h1>
            </div>
        </div>
        <div class="row col-lg-12 justify-content-center align-items-center">
          <div class="col-lg-6 d-flex justify-content-evenly flex-wrap align-items-center">
              <img src="../assets/main/logos/facebook.svg"/>
              <img src="../assets/main/logos/instagram.svg" />
              <img src="../assets/main/logos/linkedin.svg" />
              <img src="../assets/main/logos/spotify.svg" />
              <img src="../assets/main/logos/twitter.svg" />
              <img src="../assets/main/logos/whatsapp.svg" />
              <img src="../assets/main/logos/youtube.svg" />
              <img src="../assets/main/logos/tiktok.svg" />
          </div>
      </div>
      <div class="row justify-content-center align-items-center mt-5">
        <div class="col-lg-6">
          <div class="form-group">
            <input type="text" placeholder="Name" class="form-control" />
          </div>
          <div class="form-group mt-3">
            <textarea placeholder="Mensagem" class="form-control mb-3" rows="8"></textarea>
            <button class="btn btn-click btn-lg-12">Enviar</button>
          </div>
       </div>
      </div>
      </section>
    </div>
  </div>
</div>
<footer>
  <div class="row">
    <div class="col d-flex align-items-center flex-column justify-content-center">
      <div>
          <ul class="list-inline">
            <li class="list-inline-item"><a>Inicio</a></li>
            <li class="list-inline-item"><a>Blog</a></li>
          </ul>
      </div>
        <div class="align-items-end justify-content-end">
           <button class="btn btn-dark"><i class="bi bi-arrow-up"></i></button>
        </div>
        <div>
          <p>© Jacopo. All right reserved.</p>
        </div>
      </div>
    </div>
</footer>
