<div class="container-child-inactive">     
    <h1 class="gradient-color text-center">BLOG</h1>
    <button class="btn btn-click" routerLink="create">New article</button>
    <div class="row d-flex col-lg-12 mt-5">
        <div class="services-items col-lg-12 flex-wrap d-flex align-content-center justify-content-center">
              <div class="card col-lg-8">
                <div class="article-change">
                  <button class="btn btn-click">Edit</button>
                  <button class="btn btn-click btn-click-danger ml-4">Remove</button>
                </div>
                <div class="card-body  d-flex flex-column justify-content-evenly align-items-start">
                <div class="card-image">
                    <img src="../../../assets/main/article.jpg" />
                </div>
                  <h3 class="card-title">Special title treatment</h3>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#">more information</a>
                </div>
              </div>
              <div class="card col-lg-8">
                <div class="card-body  d-flex flex-column justify-content-evenly align-items-start">
                <div class="card-image">
                    <img src="../../../assets/main/article.jpg" />
                </div>
                  <h3 class="card-title">Special title treatment</h3>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#">more information</a>
                </div>
              </div>
              <div class="card col-lg-8">
                <div class="card-body  d-flex flex-column justify-content-evenly align-items-start">
                <div class="card-image">
                    <img src="../../../assets/main/article.jpg" />
                </div>
                  <h3 class="card-title">Special title treatment</h3>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#">more information</a>
                </div>
              </div>
        </div>
        <nav aria-label="Page navigation example" class="mt-4">
            <ul class="pagination justify-content-center pagination-lg">
              <li class="page-item">
                <a class="page-link active" href="#" tabindex="-1">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
    </div>
</div>
