.services-items {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 7rem;
    margin-top: 20px;
}

.card {
    margin-bottom: 10px;
    background-color: var( --bkg-container);
    box-shadow: var(--box-shadow);
    height: 450px;
    .card-body {
        padding: 60px;
        height: 100%;
    }

    .card-image {
        height: 60%;
        width: 100%;
    }

    img {
        width: 70%;
        height:95%;
    }
}
h3 {
    color: var(--second-font);
}
p {
    color: var(--main-font);
}

.page-link {
    border-color: var(--bkg-container) !important;
    background-color: transparent !important;
    cursor: pointer;
}

.active {
    background-color: var(--blue-buttons) !important;
}

a:hover {
    background-color: var(--blue-buttons) !important;
}

.card {
    position: relative !important;
}
.article-change {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    bottom: 0;
    top: 10px;
    margin-bottom: -50px;
  }

  @media only screen and (max-width: 400px) {
   
    .card {
        height: auto;
    }
  }
.alert-container {
    position: relative;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
}
.alert-added {
    transition: 3s;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    width: 250px;
    height: 100px;
    bottom: 0;
    top: 10px;
    margin-bottom: -50px;
    flex-direction: column;
    background-color: var(--bkg-container);
    div.text {
        height: 95%;
        align-items: center;
        justify-content: center;
        display: flex;
        color: var(--main-font);
    }
    div.line {
        height: 5%;
        width: 100%;
        display: flex;
        border-radius: inherit;
        i {
            border-radius: inherit;
            background-color: var(--blue-buttons) !important;
            width: 0%;
        }
    }
}