.services-items {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 7rem;
    margin-top: 20px;
}

.card {
    margin-bottom: 10px;
    background-color: var( --bkg-container);
    box-shadow: var(--box-shadow);
    height: 450px;
    .card-body {
        padding: 60px;
        height: 100%;
    }

    .card-image {
        height: 60%;
        width: 100%;
    }

    img {
        width: 70%;
        height:95%;
    }
}
h3 {
    color: var(--second-font);
}
p {
    color: var(--main-font);
}

.page-link {
    border-color: var(--bkg-container) !important;
    background-color: transparent !important;
}

.active {
    background-color: var(--blue-buttons) !important;
}

a:hover {
    background-color: var(--blue-buttons) !important;
}

.card {
    position: relative !important;
}
.article-change {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    bottom: 0;
    top: 10px;
    margin-bottom: -50px;
  }

  @media only screen and (max-width: 400px) {
   
    .card {
        height: auto;
    }
  }