<div class="container-child-inactive">     
    <h1 class="gradient-color text-center">BLOG</h1>
    <button class="btn btn-click" routerLink="create">New article</button>
    <div class="row d-flex col-lg-12 mt-5">
        <div class="services-items col-lg-12 flex-wrap d-flex align-content-center justify-content-center">
              <div class="card col-lg-8" *ngFor="let article of articleList">
                <div class="article-change">
                  <button class="btn btn-click" (click)="onUpdate(article.id)">Edit</button>
                  <button class="btn btn-click btn-click-danger ml-4" (click)="onDelete(article.id)">Remove</button>
                </div>
                <div class="card-body  d-flex flex-column justify-content-evenly align-items-start">
                <div class="card-image">
                     <img src='data:image/png;base64,{{article.image}}' >
                </div>
                  <h3 class="card-title">{{article.title}}</h3>
                  <p class="card-text">{{article.text}}</p>
                  <a [href]="article.articleLink" target="_blank">{{article.articleLink}}</a>
                </div>
              </div>
        </div>
        <nav aria-label="Page navigation example" class="mt-4">
            <ul class="pagination justify-content-center pagination-lg">
              <li class="page-item">
                <a class="page-link active" href="#" tabindex="-1">Previous</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
    </div>
</div>
