<div class="container-child">
    <h1 class="gradient-color text-center">add article</h1>
    <div class="row d-flex col-lg-12 mt-5">
    <form [formGroup]="formGroup" *ngIf="formGroup" (ngSubmit)="onSubmit()">
    <div class="services-items col-lg-12 flex-wrap d-flex align-content-center justify-content-center">
        <div class="col-lg-6">
                <div class="form-group">
                <label for=""  class="mb-2">title:</label>
                <input type="text" placeholder="Add a Name" class="form-control h-80" formControlName="title" />
                <div *ngIf="getTitle?.invalid && (getTitle?.dirty || getTitle?.touched)" class="alert-form-control" >
                    <div *ngIf="getTitle?.errors?.maxlength" class="validation-error">
                        max length
                    </div>
                    <div *ngIf="getTitle?.errors?.required" class="validation-error">
                        required
                    </div>
                </div>
            </div>
            <div class="form-group mt-4">
                <label for="" class="mb-2">text:</label>
                <textarea placeholder="Add a text" class="form-control" rows="5"  formControlName="text"></textarea>
                <div *ngIf="getText?.invalid && (getText?.dirty || getText?.touched)" class="alert-form-control" >
                    <div *ngIf="getText?.errors?.maxlength" class="validation-error">
                        max length
                    </div>
                    <div *ngIf="getText?.errors?.required" class="validation-error">
                        required
                    </div>
                </div>
            </div>
            <div class="form-group mt-4">
                <label for=""  class="mb-2">article link:</label>
                <input type="text" placeholder="Add a link" class="form-control h-80" formControlName="articleLink"/>
                <div *ngIf="getArticleLink?.invalid && (getArticleLink?.dirty || getArticleLink?.touched)" class="alert-form-control" >
                    <div *ngIf="getArticleLink?.errors?.maxlength" class="validation-error">
                        max length
                    </div>
                    <div *ngIf="getArticleLink?.errors?.required" class="validation-error">
                        required
                    </div>
                </div>
            </div>
            <div class="form-group mt-4">
                <label for=""  class="mb-2">image:</label>
                <input type="file" placeholder="Add a link" class="form-control" (change)="onFileSelected($event)"/>
                <div class="alert-form-control" >
                    <div  class="validation-error">
                        {{imageValidation}}
                    </div>
                </div>
            </div>
            <div class="form-group mt-5">
                <div
                class="spinner-border mr-4"
                style="width: 30px; height: 30px;margin-right:10px;"
                *ngIf="saving"
              >
                <span class="sr-only"></span>
              </div>
                <button class="btn btn-click" type="submit">Save</button>
                <button class="btn btn-click btn-click-danger" routerLink="/../blog">Back</button>
            </div>
        </div>
    </div>
</form>
</div>
