h1 {
    font-size: 7rem;
}

.btn-click-danger {
    border-color: rgba(227, 34, 34, 0.913) !important;
}

.btn-click-danger:hover {
    background-color: rgba(227, 34, 34, 0.913) !important;
}

label {
    color: var(--main-font);
}
input {
    background-color: var(--bkg-container) !important;
    border: none;
    color: var(--main-font) !important;
    height: 45px;
}

.btn-click{
    margin-right: 15px;
}

.container-child {
    height: 670px;
}